<a href="https://colab.research.google.com/github/AlexaMravko/EMV/blob/main/17FebPCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AN√ÅLISIS DE SENSIBILIDAD

In [2]:
import numpy as np

import pandas as pd

## Reanalizar la DataBase de Iris de Fisher

In [3]:
url= "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

names= ["spal-lenght", "speal-width", "petal-lenght", "petal-width", "Class"]

datairis = pd.read_csv(url,names=names)

datairis.head(10)

# el nombre de las columnas lo otorgamos nosotros 
# elementos categoricos

   spal-lenght  speal-width  petal-lenght  petal-width        Class
0          5.1          3.5           1.4          0.2  Iris-setosa
1          4.9          3.0           1.4          0.2  Iris-setosa
2          4.7          3.2           1.3          0.2  Iris-setosa
3          4.6          3.1           1.5          0.2  Iris-setosa
4          5.0          3.6           1.4          0.2  Iris-setosa
5          5.4          3.9           1.7          0.4  Iris-setosa
6          4.6          3.4           1.4          0.3  Iris-setosa
7          5.0          3.4           1.5          0.2  Iris-setosa
8          4.4          2.9           1.4          0.2  Iris-setosa
9          4.9          3.1           1.5          0.1  Iris-setosa

## Preprocesamiento de datos

In [5]:
A= datairis.drop("Class",1) #Cleaning 

print(A)

     spal-lenght  speal-width  petal-lenght  petal-width
0            5.1          3.5           1.4          0.2
1            4.9          3.0           1.4          0.2
2            4.7          3.2           1.3          0.2
3            4.6          3.1           1.5          0.2
4            5.0          3.6           1.4          0.2
..           ...          ...           ...          ...
145          6.7          3.0           5.2          2.3
146          6.3          2.5           5.0          1.9
147          6.5          3.0           5.2          2.0
148          6.2          3.4           5.4          2.3
149          5.9          3.0           5.1          1.8

[150 rows x 4 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [8]:
B= datairis["Class"] #accesar a columnas y tener los datos originales 
B

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Class, Length: 150, dtype: object

In [9]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (3.1.0)

##¬†Toy Example

In [10]:
from sklearn.model_selection import train_test_split